@import 'bookmark';

.bookmarks {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  min-width: 300px;
  max-width: 900px;
  // width: 95%;
  & form {
    margin-top: 0;
    background: #333;
    min-width: 280px;
    width: 90%;
    & button[type="button"] {
      color: #eee;
    }
  }
}
