.bookmark {
  display: flex;
  flex-direction: column;

  & .bookmark-header {
    display: flex;
    align-items: center;
    & img {
      margin-left: 10px;
    }
    & a {
      margin-left: 10px;
      color: #000;
    }
    & p {
      margin-left: 20px;
      margin-bottom: 0px;
      margin-right: auto;
      color: #fff;
      // fix for long url links
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 0px;
      }
    }
    & .edit-btn {
      float: right;
      border-radius: 0px;
      background: transparent;
    }
    &:hover {
      background: #333;
      & a {
        color: #eee;
      }
      & .edit-btn {
        color: #eee;
      }
    }
    &[aria-expanded="true"] {
      background: #333;
      & a {
        color: #eee;
      }
      & .edit-btn {
        color: #eee;
      }
    }
  }
  & .description {
    box-shadow: 0 2px 2px #ccc;
    padding-left: 15px;
    padding-right: 15px;
  }
}
