@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.diy-fade-in {
   animation: fade-in 1s ease-out 0s normal;
}

@keyframes slide-in {
  0% {
    opacity: 0.5;
    transform: translate(-10px, 0px)
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px)
  }
}

.diy-slide-in {
   animation: slide-in 0.5s ease-out 0s normal;
}

@keyframes became-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.diy-became-loading {
  & span {
    display: none;
  }
  border: 5px solid #eee !important;
  border-radius: 40px !important;
  box-shadow: 0px !important;
  border-top: 5px solid #338DFF !important;
  height: 35px !important;
  width: 30px !important;
  background: transparent !important;
  perspective: 900px;
  animation: became-loading 1s linear infinite 0s normal;
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translate(0px, 0px)
  }
  100% {
    opacity: 0;
    transform: translate(-100px, 0px);
  }
}

.diy-slide-out {
   animation: slide-out 0.5s ease-out 0s normal;
}
